The Test Results Form is used for when patients have a test. Notes and images can be added to this form.  
1. Navigate to the 4th side tab and place your mouse over the option "Patient".
2. This will expand with your mouse hovering over it and display several options.
3. Please select "Test Results". 
4. Fill out any relevant information about the test. 
5. To upload an image click "choose file" and browse until you find the correct image. 
5. Click "submit" at the bottom when complete.
6. Success, the patients test results have been submitted to the system.   