$helvarial: Helvetica, arial sans-serif;
$white-color: #ffffff;
$main-blue-color: #87bad7;
$light_blue_color: #c4dbe9;
$blue_box_lefttab: 4px;
$blue_box_width: 97%;
$white_box_lefttab: 102px;
$white_box_width: 93.5%;
    
body {
    margin: 0px;    
    display: block; 
    
}

.tab_box {
    border: 2px solid;
    border-color: $light_blue_color;
    border-radius: 15px 15px;
    background-color: $light_blue_color;
    height: 70px;    
    margin-bottom: 4px;
    position: relative;
    //left: 10px;
    //top: 8px;
    vertical-align: middle;
    z-index: 1;
}

.tab_box h1 {
    text-align: center;
    color: $white-color;
    font-family: $helvarial;
    font-size: 10pt;
}

.tab_box_text {
    margin-top: 25px;
    z-index: 3;
}

.tab_box_active{
    background-color: $main-blue-color;
    color: $main-blue-color;
    border-color: $main-blue-color;
    
}

.action_buttons {
    background-color: #87bad7;
    width:70px;
    height: 30px;
    z-index: 4;
}

.action_buttons h1{
    text-align: center;
    font-family: $helvarial;
    color: #ffffff;
    font-size: 10px;
}

.Container{
    width:1170px;
    height: 100%;
    margin: 0px;
    
}

.firstColumn{
    width:10%;
    height: 100%;
    float: left;
    padding: 5px;
    
}
.secondColumn{
    width:90%;
    height: 100%;
    float: left;
    padding: 5px;
    
}

#ProfileButton {
    position: absolute;
    top: 5%;
    left: 75%;    
}

#HelpButton {
    position: absolute;
    top: 5%;
    left: 80%;    
}

#LogoutButton {
    position: absolute;
    top: 5%;
    left: 85%;    
}

#MailBox {
    position: absolute;
    top: 4.2%;
    left: 92%;
    z-index: 4;
}
    
#main_bg_box {
    border-radius: 15px 15px;
    border: 1   em solid $main-blue-color;
    background-color: $main-blue-color;
    height: 98%;
    width: 99%;
    position: absolute;
    top: 2px;
    //left: $blue_box_lefttab;
    
}

#main_white_box {
    border-radius: 15px 15px;
    border: .5em solid yellow;
    background-color: yellow;
    width: 100%;
    height: 800px;
    z-index: 3;
}

#footer {
    background-color: $light_blue_color;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    height: 5%;
    width: $white_box_width;
    position: absolute;
    left: $white_box_lefttab;
    bottom: 1.4%;
    z-index: 2;
}

#harmony_logo {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 5px;
    left:140px;
    z-index: 3;
}

#welcome_user_text {
    position: absolute;
    top: 5px;
    left: 240px;
    z-index: 3;
    font-family:$helvarial;
    font-style: italic;
    font-weight: bold;
    color: #000000;
    font-size: 20pt;
}
    
#welcome_user_last_login {
    position: absolute;
    top: 45px;
    left: 245px;
    z-index: 3;
    font-family: $helvarial;
    font-style: italic;
    font-weight: bold;
    color: #b4b3b3;
    font-size: 10pt;
}

