/* core elements */
h1,a{
    color:#999999;
    font-family: Helvetica, arial sans-serif;
    margin-left: auto;
    margin-right: auto;
}
h3{
    text-align:center;
    color:#999999;
    margin:0 auto;
}
body{  
    margin: 0px;
	background-color:#ffffff;
    font-family:"Helvetica";
    display: block;
}
hr{
    clear:right;   
}
img{
    padding: 0;
    margin: auto;
    display: block;
}
input{
    background-color:#8ab9d6; 
    font-size:20px;
    color:#ffffff;
    border:0px;
    padding:5px;
    text-align:left;
}
input.rounded:focus{
    background-color:#99ccff; 
}
textarea{
    background-color:#8ab9d6; 
    font-size:20px;
    color:#ffffff;
    border:0px;
    padding:5px;
}
*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}
#menu{ 
    float: left;
	margin-top: 10px;	
}
.Container{
    height: 100%;
    margin: 0px; 
}
#wrapper{
    max-width:1050px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
.headerBar{
    width: 100%;
    height: 90px;
    float: left;
    padding: 5px;
}
.sidebarColumn{
    width: 10%;
    height: 100%;
    float: left;
    display:block;
    padding-top: 5px; 
}
.sidebarColumn a{
    text-decoration: none; 
}
.contentColumn{
    width: 90%;
    height: 100%;
    float: left;
    padding-left: 6px;
    padding-top: 5px; 
}
.contentLinkingBox, 
.adminLinkingBoxes, 
.doctorLinkingBoxes, 
.nurseLinkingBoxes{
    display: inline-block;
    border: 2px solid;
    border-radius: 15px 15px;
    height: 144px;
    width: 32%;
    margin-bottom: 4px;
    border-color: #c8c7cb;
    background-color: #c8c7cb; 
}
.contentLinkingBox h1, 
.adminLinkingBoxes h1, 
.doctorLinkingBoxes h1, 
.nurseLinkingBoxes h1{
    text-align: center;
    color: white;
    font-family: Helvetica, arial sans-serif;
    font-size: 25pt; 
}
.contentLinkingBox a, 
.adminLinkingBoxes a, 
.doctorLinkingBoxes a, 
.nurseLinkingBoxes a{
    text-decoration:none; 
}
.contentLinkingBox:hover, 
.adminLinkingBoxes:hover, 
.doctorLinkingBoxes:hover, 
.nurseLinkingBoxes:hover{
    border-color: #87bad7;
    background-color: #87bad7; 
}
.adminLinkingBoxes{
    border-color: #be81f7;
    background-color: #be81f7; 
}
.doctorLinkingBoxes{
    border-color: #bca9f5;
    background-color: #bca9f5; 
}
.nurseLinkingBoxes{
    border-color: #8181f7;
    background-color: #8181f7; 
}
.tab_box{
    border: 2px solid;
    border-color: #c4dbe9;
    border-radius: 15px 15px;
    background-color: #c4dbe9;
    margin-bottom: 4px;
    margin-left: 4px;
    position: relative;
    vertical-align: middle;
    z-index: 1; 
}
.tab_box h1{
    text-align: center;
    color: white;
    font-family: Helvetica, arial sans-serif;
    font-size: 10pt; 
}
.tab_box_text{
    z-index: 3; 
}
.tab_box_active{
    background-color: #87bad7;
    color: #87bad7;
    border-color: #87bad7; 
}
.tab_box a{
    text-decoration: none; 
}
.action_buttons{
    background-color: #87bad7;
    width: 70px;
    height: 30px;
    z-index: 4;
    float:right;
}
.action_buttons h1{
    text-align: center;
    font-family: Helvetica, arial sans-serif;
    color: #ffffff;
    font-size: 10px; 
}
/* table styling */
table{
    color:#999999;
    margin:auto;
}
table td{
    font-size:25px;
    text-align:left;
}
td *{
        float:left;
      text-align:left;
}
td:first-child{
    text-align:right;
}
/* login page */
#loginform{
	max-width: 500px;
	margin:auto;
    padding-top:20px;
}
#header{ 
    margin: 0px;
	background-color: #ffffff;
	height: 60px;
    margin-left: auto;
    margin-right: auto;
}
#header h1{ 
    text-align: center;
	margin: 0px;
	color: #999999;
    font-family: Helvetica, arial sans-serif;
}
#username{ 
    text-align: left;
}
#password{ 
    text-align: left	
}
#submit{ 
    margin-top: 10px;
	margin-bottom: 10px;
}
/* index page */
#welcome_user_text{
    position: absolute;
    top: 5px;
    left: 140px;
    z-index: 3;
    font-family: Helvetica, arial sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #000000;
    font-size: 20pt; 
}
#welcome_user_last_login{
    position: absolute;
    top: 45px;
    left: 145px;
    z-index: 3;
    font-family: Helvetica, arial sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #b4b3b3;
    font-size: 10pt; 
}
#harmony_logo{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 3px;
    left: 20px;
    z-index: 3; 
    float:left;
}
/* This formats the table in account management */
#accountTable{
	font-size: 0.8em;
	text-align:left;
	float: left;
	width: 100%;
	border: 1px solid #DFE7F2;
	border-radius: 2px;
}
#accountTable tr.altRow{
	background-color: #DFE7F2;
}
#accountTable td{
    font-size: 1em;
    text-align:left;
}
#accountTable td *{
    float: left;
    text-align: left;
}
#accountTable td:first-child{
    text-align: left;
}
#accountTable h3{
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
}
/* This formats the table in Resource Availability Form */
#availability{
	font-size: 1em;
	text-align:left;
	float: left;
	width: 100%;
	border: 1px solid #DFE7F2;
	border-radius: 2px;
}
#availability td{
    font-size: 1em;
    text-align:left;
}
#availability_main_table{
	font-size: 20px;
	text-align:left;
	float: left;
	width: 100%;
	border: none;
}
/* This formats the content of booking a procedure form */
#bookingsform{
	text-align:center;
    max-width:700px;
    color:#999999;
    margin:0 auto;
}
#bookingTable td{
	font-size: 1em;
    text-align:left;
}
/* This formats the content in the consent form */
#consent{
   text-align:center;
    max-width:700px;
    color:#999999;
    margin:0 auto;
}
#content{
    color:#999999;
    margin-left: 190px;
	margin-right: 200px;
	text-align: center;
    background-color:#ffffff;
    font-family: Helvetica, arial sans-serif;
}
/* Resource Mgt Form */
#detailsTable table, #detailsTable td, #detailsTable th{
	font-size: 1em;
	border: 1px solid grey;
}
/* Invoice button on Patient's Account Form */
#generateInvoice{
	width: 10%;
	text-align: center;
	float: center;
}
/* Update button on the Patient Account Form */
#updateButton {
    color:#ffffff;
    background-color:#87bad7;
    border: 0px;
    border-radius: 15px;
    width: 220px;
    height: 50px;
    position: relative;
    font-family: Helvetica, arial sans-serif;
    font-weight: 900;
    font-size: 9pt; 
}
#updateService {
	width: 15%;
	text-align: center;
	float: center;
}
#centre {
    margin-left: auto;
    margin-right: auto;
    }
#page-footer{
    text-align:center;
    color:#aaa;
    margin-bottom:0.5em;
}
.consent{
    clear:both;
}
.error{
    font-size: 8px;
    color:#F00;
    text-align: left;
}
.linkingButtons {
    color:#999999;
    background-color:#c4dbe9;
    border: 0px;
    border-radius: 15px;
    width: 90px;
    height: 70px;
    left: 0px;
    top: 0px;
    font-family: Helvetica, arial sans-serif;
    font-weight: 900;
    font-size: 9pt;
}
.options {
	float: left;
	font-size: 16px;
	color: #87bad7;
}   
.rounded {
    float:left;
}
.submit{
    color:#ffffff;
    font-size:20px;
}
.submit:hover{
    background-color:#99ccff;
}
.userdetails{
    color:#999999;
    font-size:30px;
}
/*search results*/
.searchResults {
    display: block;
    float: left;
    text-align: center;
    width: 28.33%;
    margin: 0.5%;
    border:0;
    font-family: Helvetica;
    font-size: 13pt;
    padding: 1em;
    border-radius: 2px;
}
.patientTable tr{
    border:0;
}
.patientTable td{
    text-align:left;
    border:0; 
    font-size: 16px;
    width:320px;
} 
.patientTable th{
    text-align:right;
} 
.patientTable{
    font-size: 16px;
    width:89%;
    margin:auto;
    text-align:center;
    max-width:720px;
}

.searchResults:hover{
    border-color: #87bad7; 
}
.itemName{
    font-size:50px;
    color:#b4b3b3;
    text-align:center; 
}
/*ipad acalability*/
#menutoggle{
    display:none;
}
@media all and (max-width:769px ){
.sidebarColumn {
    width: 100%;
    float: left;
    display:none;
 }
    .menuresize{
    width:100%;
    padding:0;
    margin:0;
    background-color:#87bad7;
    display:inline-block;
    text-align:center;
    }
    #menutoggle{
    display:inline;
}
.tab_box {
    border-radius:0;
    padding:2px;
    margin:1px;
}

.sidebarColumn a {
    text-decoration: none; }   
}














